@charset 'utf-8';
$tablet: 1179px;
$mobile: 539px;

@import 'reset.scss';
@import 'sub_layout.scss';
@import 'board.scss';
@import 'join.scss';
@import 'gallery.scss';
@import 'news.scss';
@import 'about.scss';

@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&family=Nanum+Myeongjo&family=Ubuntu&display=swap');

   
#header{
    width: 100%;
    position: fixed;
    z-index: 5;
    text-align: center;
    align-items: center;
    background: #fff;
    opacity: 60%;
	justify-content: space-between;
    padding-top: 20px;

    .categories{
        width: 100%;
		margin: 5px auto;
        padding-bottom: 10px;
        a{
            font: bold 50px/1 'Lora';
            color: black;
            letter-spacing: 5px;
        }
            .nav_web{
                    #gnb{
                        display: inline-flex;  
                        color:black;
                        li {
                            width: 120px;
                            margin:20px 30px 10px;

                            a {
                                display: block;
                                font: bold 15px 'Lora';
                                color:black;
                                text-align: center;
                            }
                            &:hover {
                                background:#fff;
                                .sub_menu1 {
                                    width: 100%;
                                    display: block;
                                    //position: absolute;
                                    margin-top: 10px;
                                    margin-left: -10px;
                                    background: #fff;
                                    ul {
                                        display: block;
                                        li {
                                            width: 100%;
                                            padding: 10px; 
                                            margin: 0 10px;
                                            background: transparent;
                                            text-align: left;
                                            &:last-child {
                                                border-bottom: none;
                                            }
                                            a:hover {
                                                color: #110363;
                                            }
                                            .fa-angle-right {
                                                float: right;
                                            }
                                           
                                        }
                                    }
                                }
                            }
                            .sub_menu1 {
                                display: none;
                            }
                        }
                    }
                    .util{
                        position: absolute;
                        top: 20px;
                        right: 40px;
                        li{
                            float: left;
                            margin-right: 20px;
                            a{
                                font: 12px/1 'Lora';
                                color:black;
                            }
                        }

                    }
                }
                .btnCall {
                    position: absolute;
                    top: 50%;
                    right: 30px;
                    transform: translateY(-50%);
                    width: 20px;
                    height: 20px;
                    display: none;
                    &::before {
                        content: '';
                        display: block;
                        width: 100%;
                        height: 2px;
                        background: #000;
                        position: absolute;
                        top: 0;
                        left: 0;
                        transition: top 0.5s 0s, transform 0.5s 0.5s;
                    }
                    &::after {
                        content: '';
                        display: block;
                        width: 100%;
                        height: 2px;
                        background: #000;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        transition: bottom 0.5s 0s, transform 0.5s 0.5s;
                    }
                    span {
                        display: block;
                        width: 100%;
                        height: 2px;
                        background: #000;
                        position: absolute;
                        top: 50%;
                        left: 0;
                        margin-top: -1px;
                        text-indent: -999999px;
                        transition: all 1s;
                    }
                    &.on {
                        &::before {
                            top: 50%;
                            margin-top: -1px;
                            transform: rotate(45deg);
                        }
                        &::after {
                            bottom: 50%;
                            margin-bottom: -1px;
                            transform: rotate(-45deg);
                        }
                        span {
                            transform: translateX(100%);
                            opacity: 0;
                        }
                    }
                }
                .nav_mo {
                    width: 200px;
                    height: 100vh;
                    background-color: #fff;
                    position: fixed;
                    top: 85px;
                    left: -270px;
                    z-index: 10;
                    padding: 0px 30px;
                    text-align: center;
                    transition: 0.5s;
                    display: none;
                    &.on {
                        left: 0;
                    }
                   
                    }
                    #gnb_mo {
                        li {
                            a {
                                display: block;
                                width: 100%;
                                padding: 20px 0;
                                border-bottom: 1px solid #000;
                                font: bold 14px/1 'Lora';
                                color: #000;
                            }
                        .sub_menu1{
                            display: none;
                        }
                        }
                    }
                }
            }
       


#main{
    width: 100%;
    height: calc(100vh - 121px);
    margin: 0 auto;

    video{
        width: 100%;
		height: 100%;
		object-fit: cover;
		//opacity: 0.4;
    }
}

#gallery{
    width: 100%;
    overflow: hidden;

    .inner{
        width: 100%;
        margin: 0 auto;
        padding: 0; 
        #tab{
            width: 100%;
            height: 100vh;
            position: relative;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            main{
                width: 80%;
                height: 500px;
                overflow: hidden;
                display: flex;
                justify-content: space-between;    
                  
                nav{
                    width: 200px;
                    height: 100%;
                    margin-right: 50px;
                    display: flex;
                    align-items: flex-end;
                    ul{
                        width: 100%;
                        li{
                            width: 100%;
                            height: 125px;
                            a{
                                display: table;
                                width: 100%;
                                height: 100%;
                                font: bold 16px/1 'Lora';
                                color: black;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                            }
                            &.on {
                                a {
                                    color:#bdb9b7;     
                                }
                            }
                        }
                    }
                }
                section {
                    width: 100%;
                    height: 100%;
                    position: relative;
                   
                    article {
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        color: #000;
                        font-size: 80px;
                        display: none;
                        justify-content: center;
                        align-items: center;
                         a{
                            width: 100%;
                            height: 100%;
                            img{
                                width: 100%;
                                height: 100%;
                                float: left;
                         }
                         }
                        &.on {
                            display: flex;
                        }
                    }
                }
                
            }
            .view{
                width: 15%;
                position: absolute;
                top: 750px;
                right: 150px;
                a{
                    display: block;
                    width: 100%;
                    height: 30px;
                    //border: 1px solid #000;
                    font: bold 18px/30px 'Lora';
                    color: black;
                    text-align: center;
                    text-decoration: underline;
                }
             }
            
        }
    }
    
}
#youtube{
.swiper1{
    position: relative;
    //margin-bottom: 00px;
    padding: 0;
    margin: 0 auto;
    width: 80%;
    height: 500px;
    overflow: hidden;
    .swiper-wrapper{
       width: 100%;
       height: 100%;
        .swiper-slide {
            text-align: center;
            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
             video {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
          }
    }
    .swiper-button-next,
    .swiper-button-prev {
                right:10px;
                padding: 30px;
                color: #fff !important;
                //background-color: #eee;
                border-radius: 50%;
                fill: black !important;
                stroke: black !important;
            }
       }

.inner{
width: 15%;
margin: auto;
margin-top: 50px;
margin-bottom: 100px;
padding: 0;
a{
    display: block;
    width: 100%;
    height: 30px;
    text-decoration: underline;
    //border: 1px solid #000;
    font: bold 18px/30px 'Lora';
    color: black;
    text-align: center;
}
}

}

#board{
    width: 100%;
    margin: 0 auto;
    padding: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    &.off{
        .board{
            transform:  translateX(200%);
			opacity: 0;
        }
        .inner{
            transform: translateY(-200%);
			opacity: 0;
        }
    }
    .board{
        width: 70vw;
        height: 70vh;
        transition: 1s 0.4s;
        	overflow: hidden;

    }
    .inner{
        width: 15%;
		margin: 0 auto;
        padding: 15px 15px;
		position: absolute;
		transform: translate(-90%, 40%);
        background: white;
        opacity: 80%;
        transition: 1s 0.3s;
        h1{
            font: bold 25px/1 'Lora';
			color: black;
			margin-bottom: 20px;
        }
        p{
            font: normal 20px/1 'Lora';
			color: #888;
			margin-bottom: 20px;
        }
        .btnOpen{
            display: block;
			width: 100%;
			height: 30px;
			border: 1px solid #000;
			font: bold 13px/30px 'Lora';
			color: black;
			text-align: center;
        }
    }
}

#news{
    width: 100%;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .inner{
        width: 15%;
		margin: 0 auto;
        padding: 0;
        position: absolute;
        left: 200px;
        top: 300px;
        background: white;
        h1{
            font: bold 25px/1 'Lora';
			color: black;
			margin-bottom: 20px;
        }
        p{
            font: normal 20px/1 'Lora';
			color: #888;
			margin-bottom: 80px;
        }
        a{
            display: block;
			width: 100%;
			height: 30px;
            //text-decoration: underline;
			border: 1px solid #bbb;
			font: bold 13px/30px 'Lora';
			color: black;
			text-align: center;
        }   
      }
    } 
   
 .swiper{
            position: relative;
            background: #fff;
            font-size: 14px;
            color: #000;
            margin: 0;
            padding: 0;
            width: 59%;
            height: 80%;
            top:200px;
            left: 200px;
           overflow: hidden;
            .swiper-wrapper{
                width: 100%;
                height: 80%;
                .swiper-slide{
                    text-align: center;
                    font-size: 18px;
                    /* Center slide text vertically */
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: -webkit-flex;
                    display: flex;
                    -webkit-box-pack: center;
                    -ms-flex-pack: center;
                    -webkit-justify-content: center;
                    justify-content: center;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    -webkit-align-items: center;
                    align-items: center;
                   img{
                    display: block;
                    width: 100%;
                    height: 400px;
                    object-fit: cover;
                    transition: 0.5s;
                   }
                   &:hover {
                                img {
                                    transform: scale(1.2);
                                }
                            }
                }
                
            }
            .swiper-button-next,
            .swiper-button-prev {
                        right:10px;
                        padding: 30px;
                        color: #888 !important;
                        fill: black !important;
                        stroke: black !important;
                    }
                    .swiper-pagination-bullet {
                        width: 15px;
                        height: 15px;
                        text-align: center;
                        line-height: 20px;
                        font-size: 12px;
                        color:#fff;
                        opacity: 1;
                        background:#fff;
                      }
                      .swiper-pagination-bullet-active {
                        color:#fff;
                        background:#888;
                      }
           
        }

        #footer{
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #fff;
            min-height: 80vh;
            width: 100%;
            position: relative;
            top: 300px;
             .inner{
                margin: 0px 200px;
                display: flex;
                flex-direction: column;
                h1 {
                    color: #000;
                    text-align: center;
                }
                .tab {
                    position: relative;
                    background: #fff;
                    padding: 0px 20px 20px;
                    margin-top: 20px;
                    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
                    overflow: hidden;
                    &:hover label::after {
                        color: #000;
                    }
                    input[type='radio'] {
                        appearance: none;
                        &:checked + label::after {
                            transform: rotate(135deg);
                            color: #000;
                        }
                        &:checked ~ label h2 {
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            top: 0;
                            left: 0;
                            justify-content: flex-end;
                            font-size: 80px;
                            padding: 20px;
                            transition: 0.5s;
                            color: rgb(197, 196, 196);
                            opacity: 80%;
                        }
                        &:checked ~ .content {
                            max-height: 100vh;
                            p {
                                color: #000;
                            }
                        }
                        &:checked ~ label h3 {
                            background: #fff;
                            padding: 2px 10px;
                            color: #000;
                            box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
                        }
                    }
                    label {
                        display: flex;
                        align-items: center;
                        cursor: pointer;
                        &::after {
                            content: '-';
                            position: absolute;
                            right: 20px;
                            font-size: 32px;
                            transition: all 1s;
                            color: rgba(0, 0, 0, 0.4);
                        }
                        h2 {
                            width: 40px;
                            height: 40px;
                            background: #000;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            color: #000;
                            font-size: 20px;
                            border-radius: 5px;
                            margin-right: 10px;
                        }
                        h3 {
                            font-weight: 500px;
                            color: #000;
                            position: relative;
                            z-index: 10;
                        }
                    }
                    .content {
                        max-height: 0;
                        transition: 1s;
                         overflow: hidden;
                        p {
                            font-size: 15px;
                            line-height: 25px;
                            position: relative;
                            padding: 15px 0;
                            color: #333;
                            z-index: 10;
                        }
                    }
        
                    &:nth-of-type(1) label h2 {
                        background: linear-gradient(135deg, #fff, #fff);
                    }
                    &:nth-of-type(2) label h2 {
                        background: linear-gradient(135deg,  #fff, #fff);
                    }
                    &:nth-of-type(3) label h2 {
                        background: linear-gradient(135deg,  #fff, #fff);
                    }
                    &:nth-of-type(4) label h2 {
                        background: linear-gradient(135deg,  #fff, #fff);
                    }
                }
                    address{
                        float: left;
                        width: 100%;
                        font: 14px/1.3 'Lora';
                        color: black;
                        margin-bottom: 20px;
                        margin-top: 20px;
                        border-top: 1px solid #888;
                        padding-top: 20px;
                        text-align: center;
                    }
                    p {
                        float: left;
                        text-align: center;
                        width: 100%;
                        font: 12px/1 'Lora';
                        color: black;
                    }
            }
        }
          
aside {
    width: 70vw;
    height: 70vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 300%);
    display: none;

    .top {
        width: 0%;
        height: 1px;
        background: #111;
        position: absolute;
        top: 0;
        left: 0;
    }
    .right {
        width: 1px;
        height: 0%;
        background: #111;
        position: absolute;
        top: 0;
        right: 0;
    }
    .bottom {
        width: 0%;
        height: 1px;
        background: #111;
        position: absolute;
        bottom: 0;
        right: 0;
    }
    .left {
        width: 1px;
        height: 0%;
        background: #111;
        position: absolute;
        left: 0;
        bottom: 0;
    }
    .container {
        width: 100%;
        height: 100%;
        background: #000;
        position: absolute;
        top: 0;
        left: 0;
        padding: 50px;
        opacity: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .pic {
            width: 30%;
        }
        .content {
            width: 65%;
            h2 {
                font: normal 5vw/1 'Lora';
                color: #fff;
                margin-bottom: 20px;
            }
            p {
                font: 16px/1.3 'Lora';
                color: #666;
            }
            .btnClose {
                position: absolute;
                top: 40px;
                right: 40px;
            }
        }
    }
}
//tablet
@media screen and (max-width: $tablet){
      
#header{
    width: 100%;
    .categories{
        width: 100%;
		> a {
            left: 30px;
            bottom: 30px;
        }
            .nav_web{
                display: none;
                }
                .btnCall {
                    display: block;
                }
                .nav_mo {
                    display: block;
                }
            }
       }

#main{
        width: 100%;
        img{
            width: 100%;
            height: 600px;
        }
    }
    
#gallery{
    .inner{
        #tab{
            height: 100vh;
            main{
                width: 80%;
                height: 500px;
                section {
                    width: 100%;
                    article {
                        width: 100%;
                         a{
                            width: 100%;
                            img{
                                width: 100%;
                            }
                         }
                    }
                }
            }
            .view{
                width: 30%;
                right: 100px;
             }
        }
       
    }
}

#youtube{
    .swiper1{
        .swiper-wrapper{
           width: 100%;
           height: 100%;
            .swiper-slide {
                 video {
                    width: 100%;
                    height: 100%;
                  }
              }
        }
           }
            .inner{
            width: 25%;
            a{
                width: 100%;
                height: 30px;
            }
         }
    }

#board{
    width: 80%;
    .board{
        width: 70vw;
    }
    .inner{
        opacity: 80%;
        width: 40vw;
        height: 30vh;
        transform: translate(-30%, 30%);
        a{
            display: block;
			width: 100%;
			height: 30px;
        }
    }
}

        
aside {
    width: 70vw;
    height: 70vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 200%);
    display: none;
    .top {
        width: 0%;
        height: 1px;
        background: #111;
        position: absolute;
        top: 0;
        left: 0;
    }
    .right {
        width: 1px;
        height: 0%;
        background: #111;
        position: absolute;
        top: 0;
        right: 0;
    }
    .bottom {
        width: 0%;
        height: 1px;
        background: #111;
        position: absolute;
        bottom: 0;
        right: 0;
    }
    .left {
        width: 1px;
        height: 0%;
        background: #111;
        position: absolute;
        left: 0;
        bottom: 0;
    }
    .container {
        width: 100%;
        height: 100%;
        background: #000;
        position: absolute;
        top: 0;
        left: 0;
        padding: 50px;
        opacity: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .pic {
            width: 30%;
        }
        .content {
            width: 65%;
            h2 {
                font: normal 5vw/1 'Lora';
                color: #fff;
                margin-bottom: 20px;
            }
            p {
                font: 16px/1.3 'Lora';
                color: #666;
            }
            .btnClose {
                position: absolute;
                top: 40px;
                right: 40px;
            }
        }
    }
}

#news{
    width: 80%;
    .inner{
        display: none;
      }
    } 
    .swiper{
        width: 90%;
        height: 80%;
        left:10px;
        .swiper-wrapper{
            width: 100%;
            .swiper-slide{
               img{
                width: 100%;
               }
               &:hover {
                img {
                    transform: scale(1.2);
                }
            }
        }
    }
 }


 #footer{
        width: 100%;
         .inner{
            margin: 50px 30px;
        }
    }
}

 

@media screen and (max-width: $mobile){
 
 #main{
        width: 100%;
        img{
            height: 80vmax;
        }
    }
    
#gallery{
    .inner{
        #tab{
            main{
                width: 80%;
                nav{
                    width: 100px;
                    ul{
                        li{
                            a{
                                width: 100%;
                            }
                            &.on {
                                a {
                                    color:#bdb9b7;     
                                }
                            }
                        }
                    }
                }
                section {
                    article {
                         a{
                            width: 100%;
                            img{
                                width: 100%;
                               // height: 100%;
                               }
                         }
                        &.on {
                            display: flex;
                        }
                    }
                }
                
            }
            
        }
       
    }
}

#youtube{
    .swiper1{
        width: 80%;
        .swiper-wrapper{
           width: 100%;
           height: 100%;
            .swiper-slide {
                 video {
                    width: 100%;
                    height: 100%;
                  }
              }
        }
    }
            .inner{
            width: 40%;
            a{
                width: 100%;
                height: 30px;
            }
          }
    
        }


        #board{
            width: 80%;
            .board{
                width: 70vw;
            }
            .inner{
                opacity: 80%;
                width: 35vw;
                height: 35vh;
                transform: translate(-30%, 30%);
                a{
                    display: block;
                    width: 100%;
                    height: 30px;
                }
            }
        }
        
       
        aside {
            width: 70vw;
            height: 70vh;
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, 200%);
            display: none;
        
            .top {
                width: 0%;
                height: 1px;
                background: #111;
                position: absolute;
                top: 0;
                left: 0;
            }
            .right {
                width: 1px;
                height: 0%;
                background: #111;
                position: absolute;
                top: 0;
                right: 0;
            }
            .bottom {
                width: 0%;
                height: 1px;
                background: #111;
                position: absolute;
                bottom: 0;
                right: 0;
            }
            .left {
                width: 1px;
                height: 0%;
                background: #111;
                position: absolute;
                left: 0;
                bottom: 0;
            }
            .container {
                width: 100%;
                height: 100%;
                background: #000;
                position: absolute;
                top: 0;
                left: 0;
                padding: 50px;
                opacity: 0;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .pic {
                    width: 30%;
                }
                .content {
                    width: 65%;
                    h2 {
                        font: normal 5vw/1 'Lora';
                        color: #fff;
                        margin-bottom: 20px;
                    }
                    p {
                        font: 16px/1.3 'Lora';
                        color: #666;
                    }
                    .btnClose {
                        position: absolute;
                        top: 40px;
                        right: 40px;
                    }
                }
            }
        }

        
#news{
    .inner{
       display: none;
      }
    } 
    .swiper{
        width: 90%;
        .swiper-wrapper{
            width: 100%;
            .swiper-slide{
                img{
                    width: 100%;
                   }
                   &:hover {
                    img {
                        transform: scale(1.2);
                    }
                }
            }
        }
    .swiper-button-next,
    .swiper-button-prev {
            right:10px;
            padding: 30px;
            color: #000 !important;
            fill: black !important;
            stroke: black !important;
            display: none;
           }
        }
    



#footer{
         .inner{
            margin: 0px 50px;
            .tab {
                &:hover label::after {
                    color: #000;
                }
            }
        }
    }
}

  